{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Test de archivos estaticos</title>
	<link rel="stylesheet" href="{% static "app/normalize.css" %}" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static "app/estilos.css" %}" />
	<link rel="stylesheet" href="{% static "app/responsive.css" %}" />
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="logo.png" />
		</figure>
		<h1 id="titulo_header">Test de archivos estaticos</h1>
		<figure id="avatar">
			<img src="avatar.jpg" />
			<figcaption></figcaption>
		</figure>
	</header>
	{% include "app/menu.html" %}
	<section id="contenido">
	    <form method="post">
	    <div id="form">
	        {% csrf_token %}
		    {{form.as_p}}
		    <input type="submit">
		<form>
		</div>
	</section>
	<footer>
		<p><strong>Powered by Platzi!</strong></p>
		<p>Mejorando.la 2013 ®</p>
	</footer>
</body>
</html>
